mixin topProductCard(cardClass, navList = [])
  .list-title top rated
  ul(class=`product-list_${cardClass}`)
    each i in navList
      if i.rate > 4
        li(class=`product-item_${cardClass}`)
          a(href=i.url, class=`product-link_${cardClass}`) 
            div(class=`product-img-holder_${cardClass}`) 
            div(class=`product-info-holder_${cardClass}`)
              h6(class=`product__title_${cardClass}`) #{i.name} 
              div(class=`product__price_${cardClass}`) #{i.price}

mixin shopProductCard (cardClass)
  div(class=`product-card_${cardClass}`)
    div(class=`product-img-carousel-holder`)
      div(class=`product-img-holder_${cardClass}`)
      .product-carousel-holder
        +carousel('6')
    div(class=`product-info-holder_${cardClass}`)
      h3(class=`product__title`) This is product name
      div(class=`product-price-ft-rate-holder`)
        div(class=`product__price_shop`) 250.00
        .product__rate.product__rate_midle
      p(class=`product__description`) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .select-holder 
        +selectCategorie('size', sizeList)
        +selectCategorie('color', colorList)
      +spinner()
      .product-btn-holder_shop
        +iconBtn('card-btn', cardMarkers)

mixin shopProductCardList (cardClass, productList = [])
  ul(class=`product-list_${cardClass}`)
    each i in productList
        if i.number>2 & i.number<8
          li(class=`product-item_${cardClass}`)
            div(class=`product-img-holder_${cardClass}`)
              .overlay-img-holder 
                +iconBtn('card-marker', cardMarkers) 
            div(class=`product-info-holder_${cardClass}`)
              h4(class=`product__title`) #{i.name}
              div(class=`product__price_${cardClass}`) #{i.price}
              .product__rate.product__rate_midle
              p(class=`product__description_${cardClass}`) #{i.summary}
              .product__categorie.text #{i.categories}
              .product-btn-holder_shop-list
                +iconBtn('card-btn', cardMarkers)

mixin bestProductCard (cardClass, productList = [])
  ul(class=`product-list_${cardClass}`)
    li(class=`product-item_${cardClass}`)
      .best-info-holder
            h2.best__title 
                b Best sellers
            span.under-title-text 
                i The best productions from us
            p.best__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    each i in productList
        if i.number>1 & i.number<6
          li(class=`product-item_${cardClass}`)
            a(href=`${i.number}.html`, class=`product_link product-card_short`) 
              .product-img-holder_short
                .overlay-img-holder 
                  +iconBtn('card-marker', cardMarkers)
              div(class=`product-info-holder_short`)
                h6(class=`product__title_short`) #{i.name} 
                div(class=`product__price_short`) #{i.price}
                .product__rate.product__rate_midle

mixin featuredProductCard (cardClass, productList = [])
  ul(class=`product-list_${cardClass}`)
    each i in productList
      if i.categories=='bags'
        li(class=`product-item_${cardClass}`)
          a(href=`${i.number}.html`, class=`product_link product-card_short`) 
            .product-img-holder_short
              .overlay-img-holder 
                +iconBtn('card-marker', cardMarkers)
            div(class=`product-info-holder_short`)
                h6(class=`product__title_short`) #{i.name} 
                div(class=`product__price_short`) #{i.price}
                div(class=`product__rate product__rate_midle`)

mixin gridProductCard (cardClass,q,productList = [])
  ul(class=`product-list_${cardClass}`)
    each i in productList
      if i.number<+q
        li(class=`product-item_${cardClass}`)
          a(href=`${i.number}.html`, class=`product_link product-card_short`) 
            div(class=`product-img-holder_${cardClass}`)
              .overlay-img-holder 
                +iconBtn('card-marker', cardMarkers)
            div(class=`product-info-holder_grid`)
                h6(class=`product__title_short`) #{i.name} 
                div(class=`product__price_short`) #{i.price}
                div(class=`product__rate product__rate_midle`)

mixin carousel(number)
    ul.product-img-list
        - for (var i=0; i<+number; i++)
            li.product-img-item
                a.slider-link
                    .product-img-holder_slider                
