mixin topList(navClass, navList = [])
  .list-title top rated
  ul(class=`${navClass}-list`)
    each i in navList
      if i.rate > 4
        li(class=`${navClass}-item`)
          a(href=i.url, class=`${navClass}_link`) 
            div(class=`${navClass}-img-holder`) 
            div(class=`${navClass}-info-holder`)
              h6(class=`${navClass}-product__title`) #{i.name} 
              span(class=`${navClass}-product__price`) #{i.price}

mixin productCard (cardClass)
  div(class=`${cardClass}`)
    div(class=`${cardClass}-img-holder img-holder`) 
    div(class=`${cardClass}-info-holder`)
      h3(class=`${cardClass}__title`) This is product name
      div(class=`${cardClass}-price-ft-rate-holder`)
        span(class=`${cardClass}__price`) 250.00
        .rate
      p(class=`${cardClass}__description`) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .select-holder 
        +selectCategorie('arrow',sizeList)
        +selectCategorie('square',colorList)
      +spinner()
      +iconBtn('card-btn', cardMarkers)


