- 
  var categorieList = [
    {
      name: 'accessories',
      url: 'accessories.html',
      number: '15'
    }, 
    {
      name: 'dresses',
      url: 'dresses.html',
      number: '50'
    },
    {
      name: 'women',
      url: 'women.html',
      number: '150'
    },
    {
      name: 'men',
      url: 'men.html',
      number: '150'
    },
    {
      name: 'watch',
      url: 'watch.html',
      number: '150'
    },
    {
      name: 'clothing',
      url: 'clothing.html',
      number: '150'
    },
    {
      name: 'bags',
      url: 'bags.html',
      number: '150'
    },
  ];

  var sizeList = [
      'xs',
      's', 
      'm',
      'l',
      'sl',
      'xl',
      'xxl'
  ];

  var colorList = [
        'black',
        'white', 
        'blue',
        'yellow',
        'green'
    ];
  
  var sortList = [
    'newness',
    'popular',
    'categorie'
  ]
  
mixin filterCategorie (selectClass, list = [])
  .list-title #{selectClass}
  ul(class=`${selectClass}-list`) 
    each i in list
      li(class=`${selectClass}-item`)
        input(class=`${selectClass}-custom-checkbox custom-checkbox` type="checkbox" name=`${selectClass}` value="yes" id=`custom-checkbox_${i}`)
        label(class=`${selectClass}-label` for=`custom-checkbox_${i}`) #{i}