- 
  var categorieList = [
    {
      name: 'accessories',
      url: 'accessories.html',
      number: '15'
    }, 
    {
      name: 'dresses',
      url: 'dresses.html',
      number: '50'
    },
    {
      name: 'women',
      url: 'women.html',
      number: '150'
    },
    {
      name: 'men',
      url: 'men.html',
      number: '150'
    },
    {
      name: 'watch',
      url: 'watch.html',
      number: '150'
    },
    {
      name: 'clothing',
      url: 'clothing.html',
      number: '150'
    },
    {
      name: 'bags',
      url: 'bags.html',
      number: '150'
    },
  ];

  var sizeList = [
      'xs',
      's', 
      'm',
      'l',
      'sl',
      'xl',
      'xxl'
  ];

  var colorList = [
        'black',
        'white', 
        'blue',
        'yellow',
        'green'
    ];
  
  var sortList = [
    'newness',
    'popular',
    'categorie'
  ]
  

mixin categoriesList(navClass, navList = [])
  .list-title #{navClass}
  ul(class=`${navClass}-nav-list`) 
      each i in navList
        if i.url==''
          li(class=`${navClass}-nav-item list-title`) #{i.name}
        else
          li(class=`${navClass}-nav-item`)
            a(href=i.url, class=`${navClass}-nav__link`) #{i.name} (#{i.number})

mixin selectCategorie (selectClass, list = [])
  select(class=`select select_${selectClass}`)
    option.select-option Select #{selectClass}
    each i in list
      option.select-option #{i}

mixin sortList (selectClass, list = [])
  select(class=`${selectClass}-select`)
    each i in list
      option.select-option Sort by #{i}
    
mixin filterCategorie (selectClass, list = [])
  .list-title #{selectClass}
  ul(class=`${selectClass}-list`) 
    each i in list
      li(class=`${selectClass}-item`)
        input(class=`${selectClass}-custom-checkbox custom-checkbox` type="checkbox" id="custom" name=`${selectClass}` value="yes")
        label(class=`${selectClass}-label` for="custom") #{i}