- 
  var tableRowHeader = [
    //- 'Products',
    //- 'Image',
    //- 'Price',
    //- 'Rating ',
    //- 'Model ',
    //- 'Brand ',
    //- 'Summary'
    {
      rowNumber: '1',
      name: 'Products',
    }, 
    {
      rowNumber: '2',
      name: 'Image',
    }, 
    {
      rowNumber: '3',
      name: 'Price',
    }, 
    {
      rowNumber: '4',
      name: 'Rating',
    }, 
    {
      rowNumber: '5',
      name: 'Model',
    }, 
    {
      rowNumber: '6',
      name: 'Brand',
    }, 
    {
      rowNumber: '7',
      name: 'Summary'
    } 
  ]

mixin comparisonTable(rowHeader, productList)
    table
        each h in rowHeader
            if h.rowNumber==1
                tr
                    th.table-cell.text #{h.name}          
                        each i in productList
                            if i.rate=='4.5'
                                td.table-cell.product__title_short #{i.name}
            if h.rowNumber==2
                tr
                    th.table-cell.text #{h.name}          
                        each i in productList
                            if i.rate=='4.5'
                                td.table-cell.text 
                                    .product-img-holder_table
            if h.rowNumber==3
                tr
                    th.table-cell.text #{h.name}          
                        each i in productList
                            if i.rate=='4.5'
                                td.table-cell.text $120
            if h.rowNumber==4
                tr
                    th.table-cell.text #{h.name}          
                        each i in productList
                            if i.rate=='4.5'
                                td.table-cell.text 
                                    .product__rate.product__rate_small
            if h.rowNumber==5
                tr
                    th.table-cell.text #{h.name}          
                        each i in productList
                            if i.rate=='4.5'
                                td.table-cell.text Product 1
            if h.rowNumber==6
                tr
                    th.table-cell.text #{h.name}          
                        each i in productList
                            if i.rate=='4.5'
                                td.table-cell.text Hewlett-Packard
            if h.rowNumber==7
                tr
                    th.table-cell.text #{h.name}          
                        each i in productList
                            if i.rate=='4.5'
                                td.table-cell.text.description #{i.summary}
        tr
            th.table-cell.text
                each i in productList
                    if i.rate=='4.5'
                        td.table-btn-cell
                            btn.btn-table.btn_transparent
                                span.card-btn-name Add to cart
                                    

                    