- 
    var contactList = [
        {    
            name: 'title',
            value:'contact info',
            iconPrefix: '',
            url: ''
        },
        {    
            name: 'adress',
            value:'1234 Your Address, Country.',
            iconPrefix: 'globe',
            url: 'https://maps.google.com'
        },
        { 
            name:'tel',
            value:'+1 234 5678 9999',
            iconPrefix:'phone',
            url:'tel:+1 234 5678 9999'
        },
        {
            name:'mail',
            value:'info@company.com',
            iconPrefix:'envelope',
            url:'mailto:mail@domain.com'
        }
    ]

mixin contacts(navClass, contactData = [])
    ul(class=`${navClass}-contact-list`)
        each i in contactData
            if i.url==''
                li(class=`${navClass}-contact-item list-title`) #{i.value}
            else
                li(class=`${navClass}-contact-item`)
                    dt 
                        i(class=`fas fa-${i.iconPrefix}`)
                    dd  
                        a(class=`${navClass}-contact__link` href=i.url) #{i.value}

    //- <i class="fas fa-globe"></i>
    //- <i class="fas fa-phone"></i>
    //- <i class="fas fa-envelope"></i>