- 
  var workNavList = [
    {
      name: '1',
      url: 'user-interface'
    }, 
    {
      name: '2',
      url: 'shop-list'
    }, 
    {
      name: '3',
      url: 'shop-list-leftsidebar'
    }, 
    {
      name: '4',
      url: 'grid'
    }, 
    {
      name: '5',
      url: 'grid-leftsidebar'
    },
    {
      name: '6',
      url: 'products'
    },
    {
      name: '7',
      url: 'comparison'
    },
    {
      name: '8',
      url: 'wishlist'
    },
    {
      name: '9',
      url: 'cart'
    },
    {
      name: '10',
      url: 'checkout'
    }
  ];

  var headerNavList = [
    {
      name: 'Home',
      url: 'home.html'
    }, 
    {
      name: 'women',
      url: 'women.html'
    }, 
    {
      name: 'men',
      url: 'men.html'
    }, 
    {
      name: 'kids',
      url: 'kids.html'
    }, 
    {
      name: 'jewellery',
      url: 'jewellery.html'
    },
    {
      name: 'accessories',
      url: 'accessories.html'
    }
  ];

  var informationList = [
    {
      name: 'Information',
      url: '' 
    }, 
    {
      name: 'Delivery Information',
      url: 'Delivery.html' 
    }, 
    {
      name: 'Discount',
      url: 'Discount.html' 
    }, 
    {
      name: 'Sitemap',
      url: 'Sitemap.html' 
    }, 
    {
      name: 'Privacy Policy',
      url: 'Privacy.html' 
    }, 
    {
      name: 'My Account',
      url: 'Account.html'
    }
  ];

  var userAccountList = [
    {
      name: 'My account',
      url: '' 
    }, 
    {
      name: 'Sign in',
      url: 'sign.html' 
    }, 
    {
      name: 'View cart',
      url: 'cart.html' 
    }, 
    {
      name: 'My wishlist',
      url: 'wishlist.html' 
    }, 
    {
      name: 'Check out',
      url: 'check.html' 
    }, 
    {
      name: 'Track my order',
      url: 'track.html'
    }
  ];

  var helpList = [
    {
      name: 'help',
      url: '' 
    }, 
    {
      name: 'F.A.Q.',
      url: 'faq.html' 
    }, 
    {
      name: 'Shipping',
      url: 'shipping.html' 
    }, 
    {
      name: 'Contact Us',
      url: 'contact.html' 
    }, 
    {
      name: 'Privacy Policy',
      url: 'privacy.html' 
    }
  ];

  var paginationList = [
    {
      name: '1',
      url: 'page1.html' 
    }, 
    {
      name: '2',
      url: 'page2.html' 
    }, 
    {
      name: '3',
      url: 'page3.html' 
    }, 
    {
      name: '4',
      url: 'page4.html' 
    }, 
    {
      name: '5',
      url: 'page5.html' 
    }, 
    {
      name: '...',
      url: '' 
    }, 
    {
      name: '>',
      url: '' 
    }, 
    {
      name: '»',
      url: '' 
    }
  ];



mixin navList(navClass, navList = [])
    ul(class=`${navClass}-nav-list`)
        each i in navList
          if i.url==''
            li(class=`${navClass}-nav-item list-title`) #{i.name}
          else
            li(class=`${navClass}-nav-item`)
                a(href=i.url, class=`${navClass}-nav__link`) #{i.name}

mixin workList(navList = [])
  ul.work-list
    each i in navList
      li
        a(href=`${i.url}.html`) #{i.name} 

mixin pagination(navList = [])
  ul.pagination-list
    each i in navList
      li.pagination-item
        a.pagination__link(href=`${i.url}`) #{i.name}
