- 
  var headerNavList = [
    {
      name: 'Home',
      url: 'user-interface.html'
    }, 
    {
      name: 'women',
      url: 'shop-list.html'
    }, 
    {
      name: 'men',
      url: 'shop-list-leftsidebar.html'
    }, 
    {
      name: 'kids',
      url: 'kids.html'
    }, 
    {
      name: 'jewellery',
      url: 'jewellery.html'
    },
    {
      name: 'accessories',
      url: 'accessories.html'
    }
  ];

- 
  var informationList = [
    {
      name: 'Information',
      url: '' 
    }, 
    {
      name: 'Delivery Information',
      url: 'Delivery.html' 
    }, 
    {
      name: 'Discount',
      url: 'Discount.html' 
    }, 
    {
      name: 'Sitemap',
      url: 'Sitemap.html' 
    }, 
    {
      name: 'Privacy Policy',
      url: 'Privacy.html' 
    }, 
    {
      name: 'My Account',
      url: 'Account.html'
    }
  ];

- 
  var userAccountList = [
    {
      name: 'My account',
      url: '' 
    }, 
    {
      name: 'Sign in',
      url: 'sign.html' 
    }, 
    {
      name: 'View cart',
      url: 'cart.html' 
    }, 
    {
      name: 'My wishlist',
      url: 'wishlist.html' 
    }, 
    {
      name: 'Check out',
      url: 'check.html' 
    }, 
    {
      name: 'Track my order',
      url: 'track.html'
    }
  ];

- 
  var helpList = [
    {
      name: 'help',
      url: '' 
    }, 
    {
      name: 'F.A.Q.',
      url: 'faq.html' 
    }, 
    {
      name: 'Shipping',
      url: 'shipping.html' 
    }, 
    {
      name: 'Contact Us',
      url: 'contact.html' 
    }, 
    {
      name: 'Privacy Policy',
      url: 'privacy.html' 
    }
  ];


mixin navList(navClass, navList = [])
    ul(class=`${navClass}-nav-list`)
        each i in navList
          if i.url==''
            li(class=`${navClass}-nav-item list-title`) #{i.name}
          else
            li(class=`${navClass}-nav-item`)
                a(href=i.url, class=`${navClass}-nav__link`) #{i.name}