- 
  var comparisonTableRowHeader = [
    {
      rowNumber: '1',
      name: 'Products',
    }, 
    {
      rowNumber: '2',
      name: 'Image',
    }, 
    {
      rowNumber: '3',
      name: 'Price',
    }, 
    {
      rowNumber: '4',
      name: 'Rating',
    }, 
    {
      rowNumber: '5',
      name: 'Model',
    }, 
    {
      rowNumber: '6',
      name: 'Brand',
    }, 
    {
      rowNumber: '7',
      name: 'Summary'
    } 
  ]

    var wishlistTableHeader = [
        'Products',
        'Color & Size',
        'Price'
    ]

    var cartTableHeader = [
        'Products',
        'Color & Size',
        'Quantity',
        'Price',
        'Total'
    ]

mixin comparisonTable(rowHeader, productList)
    table.table_comparison
        tbody            
            each i in productList
                if i.rate=='4.5'
                    tr
                        td.table-cell.product__title_short #{i.name}
                        td.table-cell.text 
                            .product-img-holder_table_comparison
                        td.table-cell.table-cell_comparison_price.text $#{i.price}
                        td.table-cell.text 
                            .product__rate.product__rate_midle
                        td.table-cell.text Product 1
                        td.table-cell.text Hewlett-Packard
                        td.table-cell.table-cell_comparison_description.text.description #{i.summary}
                        td.table-cell.product-btn-holder_comparison
                            button.btn_transparent.btn-table Add to cart
                            a.btn-product-item_del(href='') 
                                i.far.fa-times-circle
                                    
mixin wishlistTable(header, productList)
    table.table_wishlist
        thead 
            tr.table-row-body_product-name
                each h in header
                    th.table-cell_header.text #{h}
                th.table-cell_header          
        tbody            
            each i in productList
                if i.rate=='4.5'
                    tr.table-row_product-img
                        td.table-cell_product
                            a.product-link_wishlist(href=`${i.number}.html`)
                                .product-img-holder_table_wishlist
                                .product__title_short #{i.name}
                        td.table-cell.text 
                            div Size: XL 
                            div Color: Black
                        td.table-cell_price $120
                        td.table-cell_btn.text
                            .table-cell-holder_horizontal
                                button.btn_transparent.btn-table Add to cart
                                a.btn-product-item_del(href='') 
                                    i.far.fa-times-circle

mixin cartTable(header, productList)
    table.table_cart
        thead 
            tr.table-row
                each h in header
                    th.table-cell_header.text #{h}
        tbody            
            each i in productList
                if i.rate=='4.5'
                    tr.table-row_product-img
                        td.table-cell_product
                            a.product-link_wishlist(href=`${i.number}.html`)
                                .product-img-holder_table
                                .product__title_short #{i.name}
                        td.table-cell.text 
                            div Size: XL 
                            div Color: Black
                        td.table-cell_price.table-cell_quantity
                            input(value='1').input__quantity
                        td.table-cell_price.table-cell_price-per-unit #{i.price}
                        td.table-cell_price
                            .table-cell-holder_horizontal
                                div.table-row__total-price 
                                a.btn-product-item_del(href='') 
                                    i.far.fa-times-circle
        tfoot 
            tr.table-row.table-cell
                td(colspan='5')
                    .table-cell-holder_right
                        button.btn_transparent.btn-table_cart Update Cart
                        button.btn_transparent.btn-table_cart Continue shopping

mixin shortCartTable(productList)
    table.table_short
        thead 
            tr.table-row
                th.table-cell_header.text Products 
                th.table-cell_header.text Quantity
                th.table-cell_header.text Price 
                th.table-cell_header.text Total
        tbody            
            each i in productList
                if i.rate=='4.5'
                    tr.table-row_product-img
                        td.table-cell_product
                            a.product-link_wishlist(href=`${i.number}.html`)
                                .product-img-holder_table_wishlist
                                .product__title_short #{i.name}
                        td.table-cell_price.table-cell_quantity 
                            input(value='1').input__quantity
                        td.table-cell_price.table-cell_price-per-unit 200
                        td.table-cell_price
                            .table-cell-holder_horizontal
                                div.table-row__total-price 0
                                a.btn-product-item_del(href='') 
                                    i.far.fa-times-circle
            